.tx-item {
    display: flex;
    width: 100%;
    margin-bottom: 35px;

    .tx-icon {
        border-radius: 10px;
        height: 40px;
        width: 40px;
        margin-right: 20px;
        box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    }

    .tx-icon.positive {
        background-image: url('../../images/arrow-up.png'), var(--gradient-accept);
        background-size: 55%, cover;
        background-repeat: no-repeat; 
        background-position: center; 
    }

    .tx-icon.negative {
        background-image: url('../../images/arrow-down.png'), var(--gradient-decline);
        background-size: 55%, cover;
        background-repeat: no-repeat; 
        background-position: center; 
    }
    .tx-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        p {
            font-size: 0.6rem;
            color: var(--solid-gray)
        }

        .username {
            font-size: 0.9rem;
            font-weight: 600;
            color: var(--solid-black);

        }
    }

    .amount {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 0.9rem;
    }

    .amount.positive {
        color: var(--solid-green);
    }

    
    .amount.negative {
        color: var(--solid-red);
    }
}